RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.andyrofl\.com$ [NC]
RewriteRule ^(.*)$ http://andyrofl.com/$1 [L,R=301]
RewriteRule ^sitemap/$ /sitemap [R=301,L]
RewriteRule ^sitemap$ /pages/sitemap.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /pages/page.php?title=$1