RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.andyrofl\.com$ [NC]
RewriteRule ^(.*)$ http://andyrofl.com/$1 [L,R=301]

RewriteRule ^about/$ /about [R=301]
RewriteRule ^about$ /pages/page.php?title=about
RewriteRule ^contact/$ /contact [R=301]
RewriteRule ^contact$ /pages/page.php?title=contact
RewriteRule ^portfolio/$ /portfolio [R=301]
RewriteRule ^portfolio$ /pages/portfolio.php
RewriteRule ^search/$ /search [R=301]
RewriteRule ^search$ /pages/page.php?title=search
RewriteRule ^sitemap/$ /sitemap [R=301]
RewriteRule ^sitemap$ /pages/sitemap.php
RewriteRule ^blog/$ /blog [R=301]
RewriteRule ^blog$ /blog/index.php

RewriteRule ^kbmod/$ /kbmod [R=301]
RewriteRule ^kbmod$ /pages/kbmod.php