@CHARSET "UTF-8";
#experience{
	margin-left:15px;
	background-color:#E5E5E5;
	border-radius:15px;
	text-align:left;
}
#namepic{
	height:280px;
}
#contact{
	height:128px;
}
#headshot{
	height:256px;
	width:256px;
}
#name{
	font-size:18px;
}