@CHARSET "ISO-8859-1";
#right{
	float:right;
	width:200px;
}
#left{
	max-width:65%;
	float:left;
}
#title{
	font-size:32px;
	text-align:center;
	height:32px;
}
#postcontent{
	font-size:18px;
	text-align:left;
}
#timestamp{
	font-size:12px;
	text-align:right;
	height:12px;
}
#postcontainer{
	width:60%;
	width-min:200px;
	margin-left:15px;
}
div.recentposts{
	width:200px;
}
div.recentpost{
	width:200px;
}
span.rp_title{
	font-size:16px;
}
span.rp_blurb{
	font-size:12px;
}