@CHARSET "ISO-8859-1";
#title{
	font-size:32px;
	text-align:center;
	height:32px;
}
#postcontent{
	font-size:18px;
	text-align:left;
}
#timestamp{
	font-size:12px;
	text-align:right;
	height:12px;
}
#postcontainer{
	width:90%;
	width-min:200px;
	margin-left:15px;
	background-color:#E5E5E5;
	border-radius:15px;]
}
div.recentposts{
	width:200px;
}
div.recentpost{
	width:200px;
}
span.rp_title{
	font-size:16px;
}
span.rp_blurb{
	font-size:12px;
}