RewriteEngine On

RewriteBase /admin/
RewriteRule ^database/$ /admin/database [R=301,L]
RewriteRule ^database$ /admin/mini.php
RewriteRule ^blog/$ /admin/blog [R=301,L]
RewriteRule ^blog$ /admin/blog.php
RewriteRule ^home/$ /admin/home [R=301,L]
RewriteRule ^home$ /admin/home.php