#recentposts{
	text-align:center;
	min-height:500px;
}
div.post{
	width:90%;
}
#main span{
	color:#FFFFFF;
}
p.postcontent{
	font-size:16px;
	text-align:left;
}
span.dateposted{
	font-size:12px;
}
.icon{
	height:32px;
	width:32px;
	position:relative;
	background-image:url('/cdn/icons.png');
	float:left;
}
.rss{
	background-position:-32px -32px;
}
.github{
	background-position:-128px 0px;
}
.spotify{
	background-position:-128px -32px;
}
.steam{
	background-position:-160px -32px;
}
.twitch{
	background-position:-192px -32px;
}
#syndicate{
	text-align:center;
}
p{
	text-align:left;
}
#slideshow{
	
}