BODY{
	background-image:url('/cdn/res/background.png');
	background-repeat:repeat;
	min-width:600px;
}
#main{
	width:100%;
	height:100%;
	color:#FFFFFF;
}
#header{
	height:115px;
	padding-left:20px;
	padding-right:20px;
	min-width:80px;
}
#footer{
	height:100px;
	clear:both;
	padding-left:20px;
	padding-right:20px;
	min-width:80px;
}
#hfrep{
	background-image:url('/cdn/res/headerrep.png');
	background-repeat:repeat;
	height:115px;
	width:100%;
}
#hfl{
	background-image:url('/cdn/res/header.png');
	background-position:0px 0px;
	width:20px;
	height:115px;
	right:20px;
	margin-left:-100%;
}
#hfr{
	background-image:url('/cdn/res/header.png');
	background-position:-20px 0px;
	width:20px;
	margin-right:-20px;
	height:115px;
}
#ctopl{
	background-image:url('/cdn/res/csprites.png');
	width:5px;
	height:28px;
	right:5px;
	margin-left:-100%;
}
#ctoprep{
	background-image:url('/cdn/res/ctoprep.png');
	background-repeat:repeat;
	height:28px;
	width:100%;
}
#ctop{
	height:28px;
	width:100%;
}
#cbotl{
	background-image:url('/cdn/res/csprites.png');
	width:5px;
	height:5px;
	right:5px;
	margin-left:-100%;
}
#cbotrep{
	background-image:url('/cdn/res/cbotrep.png');
	background-repeat:repeat;
	height:5px;
	width:100%;
}
#cbot{
	height:5px;
	width:100%;
}
#cmidrep{
	background-image:url('/cdn/res/crep.png');
	background-repeat:repeat;
	width:100%;
}
#cmidl{
	background-image:url('/cdn/res/clrep.png');
	background-repeat:repeat;
	width:5px;
	right:5px;
	margin-left:-100%;
}
#content{
	padding-right:300px;
	margin-right:15px;
	margin-left:20px;
}
.piece{
	position:relative;
	float:left;
}
#left{
	width:100%;
}
#right{
	width:300px;
	margin-right:-300px;
}
#largelinks{
	float:left;
	height:20px;
	margin:15px;
}
div.largelink{
	float:left;
	margin-right:10px;
}
#search{
	width:210px;
	float:left;
	position:relative;
}
#smalllinks{
	width:280px;
	height:45px;
	position:relative;
	float:left;
}
div.smalllink{
	float:left;
	height:10px;
	margin:5px;
}
#searchlinkbox{
	width:280px;
	height:115px;
	float:right;
}
span.largeText{
	font-size:25px;
}
span.largerText{
	font-size:40px;
}
span.smallText{
	font-size:15px;
}
#footercontainer{
	height:100px;
	text-align:left;
	margin:15px;
	float:left;
	position:relative;
}
#adminbar{
	position:fixed;
	z-index:50;
	left:0px;
	bottom:0px;
	height:32px;
	width:100%;
	background-image:url('/cdn/res/bar.png');
	height:46px;
	background-repeat:repeat;
}
#rightbottom{
	height:5px;
	width:300px;
	background-image:url('/cdn/res/rightends.png');
	background-position:0px -5px;
}
#righttop{
	height:29px;
	width:300px;
	background-image:url('/cdn/res/rightends.png');
}
#rightmid{
	background-image:url('/cdn/res/rightrep.png');
	background-repeat:repeat;
}
#header a{
	color:#FFFFFF;
	text-decoration:none;
}
#footer a{
	color:#FFFFFF;
	text-decoration:none;
}
a{
	text-decoration:none;
}
/**
 * Google
 */

.gsc-control-cse{
	font-family:Arial, sans-serif;
	border-color:#FFFFFF;
	background-color:#FFFFFF;
}
.gsc-control-cse .gsc-table-result{
	font-family:Arial, sans-serif;
}
input.gsc-input{
	border-color:#BBBBBB;
}
input.gsc-search-button{
	border-color:#000000;
	background-color:#333333;
}
.gsc-tabHeader.gsc-tabhInactive{
	border-color:#333333;
	background-color:#333333;
}
.gsc-tabHeader.gsc-tabhActive{
	border-color:#777777;
	background-color:#777777;
}
.gsc-tabsArea{
	border-color:#333333;
}
.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult{
	border-color:#FFFFFF;
	background-color:#000000;
}
.gsc-webResult.gsc-result:hover, .gsc-imageResult:hover{
	border-color:#000000;
	background-color:#111111;
}
.gsc-webResult.gsc-result.gsc-promotion:hover{
	border-color:#000000;
	background-color:#111111;
}
.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b{
	color:#FFFFFF;
}
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b{
	color:#444444;
}
.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b{
	color:#999999;
}
.gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b{
	color:#777777;
}
.gsc-cursor-page{
	color:#FFFFFF;
}
a.gsc-trailing-more-results:link{
	color:#FFFFFF;
}
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType{
	color:#999999;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl{
	color:#F3F3F3;
}
.gs-webResult div.gs-visibleUrl-short{
	color:#F3F3F3;
}
.gs-webResult div.gs-visibleUrl-short{
	display:none;
}
.gs-webResult div.gs-visibleUrl-long{
	display:block;
}
.gs-promotion div.gs-visibleUrl-short{
	display:none;
}
.gs-promotion div.gs-visibleUrl-long{
	display:block;
}
.gsc-cursor-box{
	border-color: #FFFFFF;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page{
	border-color:#777777;
	background-color:#000000;
	color:#FFFFFF;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page{
	border-color:#333333;
	background-color:#333333;
	color:#444444;
}
.gsc-webResult.gsc-result.gsc-promotion{
	border-color:#CCCCCC;
	background-color:#E6E6E6;
}
.gsc-completion-title{
	color:#FFFFFF;
}
.gsc-completion-snippet{
	color:#999999;
}
.gs-promotion a.gs-title:link,.gs-promotion a.gs-title:link *,.gs-promotion .gs-snippet a:link{
	color:#0000CC;
}
.gs-promotion a.gs-title:visited,.gs-promotion a.gs-title:visited *,.gs-promotion .gs-snippet a:visited{
	color:#0000CC;
}
.gs-promotion a.gs-title:hover,.gs-promotion a.gs-title:hover *,.gs-promotion .gs-snippet a:hover{
	color:#444444;
}
.gs-promotion a.gs-title:active,.gs-promotion a.gs-title:active *,.gs-promotion .gs-snippet a:active{
	color:#00CC00;
}
.gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right *{
	color:#333333;
}
.gs-promotion .gs-visibleUrl,.gs-promotion .gs-visibleUrl-short{
	color:#00CC00;
}
