@CHARSET "ISO-8859-1";
#highlights{
	height:225px;
	float:left;
}
div.project{
	margin-right:50px;
	width:150px;
	height:225px;
	float:left;
	background-color:#B478AC;
}
div.filterselect{
	height:50px;
	text-align:left;
}