@CHARSET "ISO-8859-1";
#title{
	font-size:32px;
	text-align:center;
	height:32px;
}
#postcontent{
	text-align:left;
}
#timestamp{
	font-size:12px;
	text-align:right;
	height:12px;
}
#postcontainer{
	width:90%;
}
div.recentposts{
	width:200px;
}
div.recentpost{
	width:200px;
}
span.rp_title{
	font-size:16px;
}
span.rp_blurb{
	font-size:12px;
}
#titlelink{
	font-color:#000000;
}
p{
	text-align:left;
}