#twitterfeed{
	width:200px;
	height:450px;
	float:right;
	background-color:#AABBA9;
}
#shortbio{
	
}
#recentposts{
	text-align:center;
	min-height:500px;
}
div.post{
	width:90%;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	background-color:#E5E5E5;
}
p.postcontent{
	font-size:16px;
	text-align:left;
}
span.dateposted{
	font-size:12px;
}
.icon{
	height:32px;
	width:32px;
	position:relative;
	background-image:url('/cdn/icons.png');
	float:left;
}
.rss{
	background-position:-32px -32px;
}
.github{
	background-position:-128px 0px;
}
.spotify{
	background-position:-128px -32px;
}
.steam{
	background-position:-160px -32px;
}
.twitch{
	background-position:-192px -32px;
}
#syndicate{
	height:32px;
}
p{
	text-align:left;
}
#header a{
	color:#FFFFFF;
	text-decoration:none;
}
#content a{
	color:#000000;
	text-decoration:none;
}