BODY{
	background-image:url(../cdn/background.png);
	background-repeat:repeat;
}
#main{
	width:100%;
	height:100%;
}
#header{
	height:150px;
	border-radius:15px;
	background-color:#B3002D;
}
#content{
	border-radius:15px;
	float:left;
}
#footer{
	height:100px;
	width:100%;
	border-radius:15px;
	background-color:#B3002D;
	display:inline-block;
	text-align:center;
}
#largelinks{
	float:left;
	height:20px;
}
div.largelink{
	float:left;
	margin-right:10px;
}
#search{
	width:210px;
	height:100px;
}
#smalllinks{
	height:10px;
	width:280px;
}
div.smalllink{
	float:left;
	height:10px;
	margin:5px;
}
#searchlinkbox{
	width:280px;
	height:130px;
	float:right;
}
span.largeText{
	font-size:25px;
}
span.largerText{
	font-size:40px;
}
span.smallText{
	font-size:15px;
}
#left{
	float:left;
	text-align:center;
	max-width:70%;
	background-color:#FFFFFF;
	border-radius:15px;
}
#right{
	float:right;
	width:256px;
	background-color:#FFFFFF;
	border-radius:15px;
	background-color:#FFFFFF;
}
#footercontainer{
	height:100px;
	width:200px;
	text-align:left;
}
#adminbar{
	position:fixed;
	left:0px;
	bottom:0px;
	height:32px;
	width:100%;
	background-image:url(/cdn/bar.png);
	height:46px;
	background-repeat:repeat;
}