BODY{
	background-image:url('/cdn/res/background.png');
	background-repeat:repeat;
	min-width:600px;
}
#main{
	width:100%;
	height:100%;
}
#header{
	height:115px;
	padding-left:20px;
	padding-right:20px;
	min-width:80px;
}
#footer{
	height:100px;
	clear:both;
	padding-left:20px;
	padding-right:20px;
	min-width:80px;
}
#hfrep{
	background-image:url('/cdn/res/headerrep.png');
	background-repeat:repeat;
	height:115px;
	width:100%;
}
#hfl{
	background-image:url('/cdn/res/header.png');
	background-position:0px 0px;
	width:20px;
	height:115px;
	right:20px;
	margin-left:-100%;
}
#hfr{
	background-image:url('/cdn/res/header.png');
	background-position:-20px 0px;
	width:20px;
	margin-right:-20px;
	height:115px;
}
#ctopl{
	background-image:url('/cdn/res/csprites.png');
	width:5px;
	height:28px;
	right:5px;
	margin-left:-100%;
}
#ctoprep{
	background-image:url('/cdn/res/ctoprep.png');
	background-repeat:repeat;
	height:28px;
	width:100%;
}
#ctop{
	height:28px;
	width:100%;
}
#cbotl{
	background-image:url('/cdn/res/csprites.png');
	width:5px;
	height:5px;
	right:5px;
	margin-left:-100%;
}
#cbotrep{
	background-image:url('/cdn/res/cbotrep.png');
	background-repeat:repeat;
	height:5px;
	width:100%;
}
#cbot{
	height:5px;
	width:100%;
}
#cmidrep{
	background-image:url('/cdn/res/crep.png');
	background-repeat:repeat;
	width:100%;
}
#cmidl{
	background-image:url('/cdn/res/clrep.png');
	background-repeat:repeat;
	width:5px;
	right:5px;
	margin-left:-100%;
}
#content{
	padding-right:300px;
	margin-right:20px;
	margin-left:20px;
}
.piece{
	position:relative;
	float:left;
}
#left{
	width:100%;
}
#right{
	width:300px;
	margin-right:-300px;
}
#largelinks{
	float:left;
	height:20px;
	margin:15px;
}
div.largelink{
	float:left;
	margin-right:10px;
}
#search{
	width:210px;
	height:100px;
}
#smalllinks{
	height:10px;
	width:280px;
}
div.smalllink{
	float:left;
	height:10px;
	margin:5px;
}
#searchlinkbox{
	width:280px;
	height:115px;
	float:right;
}
span.largeText{
	font-size:25px;
}
span.largerText{
	font-size:40px;
}
span.smallText{
	font-size:15px;
}
#footercontainer{
	height:100px;
	width:200px;
	text-align:left;
}
#adminbar{
	position:fixed;
	z-index:50;
	left:0px;
	bottom:0px;
	height:32px;
	width:100%;
	background-image:url('/cdn/res/bar.png');
	height:46px;
	background-repeat:repeat;
}
#rightbottom{
	height:5px;
	width:300px;
	background-image:url('/cdn/res/rightends.png');
	background-position:0px -5px;
}
#righttop{
	height:29px;
	width:300px;
	background-image:url('/cdn/res/rightends.png');
}
#rightmid{
	background-image:url('/cdn/res/rightrep.png');
	background-repeat:repeat;
}
#header a{
	color:#FFFFFF;
	text-decoration:none;
}
#left a{
	color:#000000;
	text-decoration:none;
}