BODY{
	background-color:#000000;
}
#main{
	width:100%;
}
#header{
	height:150px;
	width:100%;
	border-radius:15px;
	background-color:#B3002D;
}
#content{
	min-height:800px;
	width:100%;
	border-radius:15px;
}
#footer{
	height:100px;
	width:100%;
	border-radius:15px;
	background-color:#B3002D;
}
#largelinks{
	float:left;
	height:20px;
}
div.largelink{
	float:left;
	margin-right:10px;
}
#search{
	width:440px;
	height:100px;
}
#smalllinks{
	height:10px;
	width:435px;
}
div.smalllink{
	float:left;
	height:10px;
}
#searchlinkbox{
	width:450px;
	height:130px;
	float:right;
}
span.largeText{
	font-size:25px;
}
span.largerText{
	font-size:40px;
}
span.smallText{
	font-size:15px;
}
#left{
	float:left;
	text-align:center;
	max-width:60%;
	background-color:#FFFFFF;
	border-radius:15px;
}
#right{
	float:right;
	width:200px;
	background-color:FFFFFF;
	border-radius:15px;
}